#top_row select {
    width: 80px;
    margin-left: 4px;
    margin-right: 4px;
}

#top_row {
    margin-top: 10px;
    padding-left: 10px;
}

.inline {
    display: inline-block;
}

#searchbar {
    height: 30px;
    margin-left: 5px;
}

#top_right p{
    margin: 0;
}

.sort_img {
    width: 15px;
    height: 15px;
}

#table {
    margin-right: 20px;
    margin-left: 20px;
}

.table_head_cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(182, 182, 182);
    height: 50px;
}

.table_head_cell p, .table_cell p {
    margin: 0;
    font-weight: bold;
}

.table_cell {
    display: flex;
    align-items: center;
    border: 1px solid rgb(182, 182, 182);
    height: 70px;
}

.action_img {
    width: 55px;
    height: 40px;
    padding: 5px;
    border-radius: 3px;
}

.eye_action {
    background-color: #0277FE;
    padding-top: 7px;
    padding-bottom: 7px;
    background-image: url(../img/eye.png);
    background-size: 26px 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.eye_action:hover {
    background-color: #005fcc;
}

.edit_action {
    background-color: #25AB43;
    background-image: url(../img/edit-button.png);
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.edit_action:hover {
    background-color: #1e8a35;
}

.delete_action {
    background-color: #E22F47;
    background-image: url(../img/542724.png);
    background-size: 21px 21px;
    background-position: center;
    background-repeat: no-repeat;
}

.delete_action:hover {
    background-color: #ad2436;
}

#action_btn_group {
    width: 140px
}

.light {
    background-color: #FFFFFF;
}

.dark {
    background-color: #F2F2F2;
}

#bottom_row{
    margin-right: 20px;
    padding: 10px;
}

#page_btn_group {
    width: 200px;
}

.btn-light {
    background-color: rgb(233, 233, 233);
}

#bottom_row p {
    margin: 0;
}