#head_line {
    background-color: #EEEEEE;
    margin-top: 20px;
    padding: 70px;
}

#head_line h1{
    font-size: 60px;
}

#head_line p {
    font-size: 18px;
}

#head_line button {
    background-color: #3F86C3;
    color: white;
    margin-left: 12px;
}

#news_line {
    margin-top: 50px;
}

#news_line .image {
    background-color: #DDDDDD;
    width: auto;
    height: 200px;
}

#news_line button {
    width: 100px;
    background-color: #51A84F;
    color: white;
}

nav {
    box-shadow: 1px 2px 5px rgb(187, 187, 187);
}

#pagination_row {
    display: flex;
    justify-content: center;
}